.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-light-bgc);
  text-align: center;

  & .title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.178;
  }

  &-list {
    list-style: none;
  }

  &-item {
    max-width: 450px;
    max-height: 622px;

    background-color: var(--the-lightest-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-wrapper {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }

  &-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.842;
    letter-spacing: 0.03em;
  }

  &-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 0.842;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    &-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    &-item {
      max-width: 354px;
      max-height: 536px;

      &:nth-child(odd) {
        margin-right: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;

    & .title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.167;
    }

    &-item {
      max-width: 270px;
      max-height: 428px;

      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }

    &-wrapper {
      padding-top: 30px;
      padding-right: 32px;
      padding-bottom: 30px;
      padding-left: 32px;
    }
  }
}
