.modal-open-button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  min-width: 200px;
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--the-lightest-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-time) var(--time-function),
    color var(--transition-time) var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
    cursor: pointer;
  }
}

.filter-list-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background-color: var(--secondary-light-bgc);
  transition: background-color var(--transition-time) var(--time-function),
    color var(--transition-time) var(--time-function), box-shadow var(--transition-time) var(--time-function);

  &:hover,
  &:focus {
    color: var(--the-lightest-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

.active-btn {
  color: var(--the-lightest-color);
  background-color: var(--accent-color);
}
