.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;

  .header & {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.logo-text {
  color: var(--the-darkest-color);

  .footer & {
    color: var(--the-lightest-color);
  }
}

@media screen and (min-width: 768px) {
  .logo-link {
    .header & {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 88px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.192;

    .header & {
      padding-top: 25px;
      padding-bottom: 25px;
      margin-right: 93px;
    }

    .footer & {
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  .logo-text {
    color: var(--the-darkest-color);

    .footer & {
      color: var(--the-lightest-color);
    }
  }
}
