:root {
  --text-font: "Roboto", sans-serif;
  --titel-font: "Raleway", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --the-lightest-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-dark-bgc: #2f303a;
  --secondary-light-bgc: #f5f4fa;
  --color-for-line: #ececec;
  --color-for-border: #eeeeee;
  --the-darkest-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --icon-fill: #afb1b8;
  --overlay-color: rgba(33, 149, 243, 0.9);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
  --secondary-overlay-color: rgba(47, 48, 58, 0.8);
  --button-hover-color: #188ce8;
}
